<ul class="nav nav-pills">
	<li ng-class="{ active:isSelected(1) }"> 
		<a href ng-click="selectTab(1)">Description</a> 
	</li>
	<li ng-class="{ active:isSelected(2) }"> 
		<a href ng-click="selectTab(2)">Specifications</a> 
	</li>
	<li ng-class="{ active:isSelected(3) }"> 
		<a href ng-click="selectTab(3)">Reviews</a> 
	</li>
</ul>

<div class="panel" ng-show="isSelected(1)">
	<h4>Description</h4>
	<p>{{product.description}}</p>
</div>
<div class="panel" ng-show="isSelected(2)">
	<h4>Specifications</h4>
	<blockquote>None yet</blockquote>
</div>

<div class="panel" ng-show="isSelected(3)">
	<h4>Reviews</h4>
	<blockquote ng-repeat="review in product.reviews">
		<b>Stars: {{review.stars}}</b><br>
		{{review.body}}<br>
		<cite>by: {{review.author}}</cite>
	</blockquote>
	
	<form name="reviewForm" ng-submit="reviewForm.$valid && addReview(product._id)" novalidate>
		<blockquote>
			<b>Stars: {{formReview.stars}}</b><br>
			{{formReview.body}}<br>
			<cite>by: {{formReview.author}}</cite><br>
		</blockquote>
		<select ng-model="formReview.stars" required>
			<option value="1">1 star</option>
			<option value="2">2 stars</option>
			<option value="3">3 stars</option>
			<option value="4">4 stars</option>
			<option value="5">5 stars</option>
		</select><br>
		<textarea ng-model="formReview.body" required></textarea><br>
		<label>by:</label>
		<input ng-model="formReview.author" type="email" required/><br>
		
		<div> reviewForm is {{reviewForm.$valid}} </div>
		<input type="submit" value="Submit" />
	</form>
</div>



