<html ng-app="store">
	<head>
		<title>GemStore</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	</head>
	<body ng-controller="StoreController as store">
	
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						<!-- BIND THIS VALUE TO formData.name IN ANGULAR -->
						<input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="formData.name">
						<input type="number" step="any"  class="form-control input-lg text-center" placeholder="Price" ng-model="formData.price">
						<input type="text" class="form-control input-lg text-center" placeholder="Description" ng-model="formData.description">
					</div>

					<!-- createProduct() WILL CREATE NEW PRODUCT -->
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createProduct()">Add</button>
				</form>
			</div>
		</div>

		<input type="file" accept="image/*" image="image" onchange="angular.element(this).scope().uploadImage(this.files)" multiple /> <img ng-show="image" ng-src="{{image.url}}" type="{{image.file.type}}" />

		{{ products.length }}
		<ul class="list-group" style="width:600px" class="pull-center">
			<li class="list-group-item" ng-repeat="product in products">
				<a href  ng-click="startEditProduct(product._id)"> Edit </a>
				<a href  ng-click="stopEditProduct(product._id)">  Stop </a>
				<a href class="pull-right" ng-click="deleteProduct(product._id)"> x </a><br>
				<div class="panel" ng-show="product.editing">
					<h4>Editing</h4>
				</div>
				
				<div class="panel" ng-hide="product.editing">
					<h4>Stop</h4>
				</div>
				
				<h3 product-title></h3>
				
				<section product-panels ng-controller="PanelController"></section>
				
			</li>
		</ul>

		<script type="text/javascript" src="javascripts/angular.min.js"></script>
		<script type="text/javascript" src="javascripts/app.js"></script>
		<script type="text/javascript" src="javascripts/products.js"></script>
	</body>
</html>